*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    --cor-verde-escuro: rgba(27, 68, 54, 1);
    --cor-verde-claro: rgba(80, 170, 90, 1);
    --cor-branca:rgba(255, 255, 255, 1);
    border: 0;
}

.menu > ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 20px;
    font-size: 20px;
}


nav{
    margin-left: 100px;
   
}

.grass{
    background-image: url(/assets/image/image\ 9.png);
    width: 100%;
    height: 399px;


}
.grass > h2{
    display: flex;


}

.hero{
    background-color:var(--cor-verde-escuro);
}